<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        label{
            display: flex;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div style="height : 100vh;display:flex;justify-content: center;align-items: center;flex-direction: column;">
        <label>Already have an account &nbsp;&nbsp;<a href="/user/login">Login</a></label>
        <label>Create an account &nbsp;&nbsp;<a href="/user/register">Register</a></label>
    </div>
</body>
</html>